@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@300;400;700&display=swap');
html, body {
    width: 100%;
    overflow-x: hidden; /* Evitar scroll horizontal */
}
/* Fuente elegante para títulos */
.txt {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    color: #DEA1AB; /* Rojo vino elegante */
}

/* Fuente moderna para texto */
p, a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}
.titulo {
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: bold;
}

/* Botones */
.btn {
    background: #111111;
    color: white;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: .8rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.btn:hover {
    background-color: #DEA1AB;
}
.btn-secondary {
    border: 3px solid black;
    color: black;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: .8rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}
.btn-secondary:hover {
    background-color: black;
    color: white;
}
.btn-top {
    margin-top: 2rem;
}

/* Imagenes */
img {
    width: 100%;
}

/* Estilos de la Navbar */
.navbar {
    border-top: 8px solid #DEA1AB;
    transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
    background: white !important; /* Fondo blanco al hacer scroll */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo para ocultar el logo inicialmente */
.navbar-brand img {
    width: 80px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Resaltar la sección activa */
.nav-link.active {
    font-weight: bold;
    color: #DEA1AB !important;
}

/* Mostrar el logo al hacer scroll */
.navbar-brand img.scrolled {
    opacity: 1;
}

/* Altura de secciones*/
section {
    height: 100vh; /* La altura es igual al 100% de la altura de la ventana del navegador */
}

/* Fondo de la sección inicio*/
#inicio {
    background-image: url("../images/background-inicio.png"); /* Imagen de fondo */
    background-repeat: no-repeat; /* Evitar que se repita */
    background-size: cover; /* Hacer que la imagen cubra todo el fondo */
    background-position: center; /* Centrar la imagen en el contenedor */
}

/* Tamaño del logo en inicio */
#inicio img {
    width: 60%;
    margin: 0 0 2rem 0;
}

/* Espacio en control de audio */
audio {
    margin: 2rem 0;
}

/* Tamaño imagen US */
#us img {
    width: 80%;
    border-radius: 24px;
}

/* Divisor parallax */
.parallax {
    background-image: url('../images/place.png'); /* Imagen de fondo */
    background-attachment: fixed; /* Establece el fondo fijo para el efecto parallax */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para que cubra todo el área */
    text-align: center;
    color: white;
    padding: 10%;
}
#p2 {
    background-image: url('../images/place2.png'); /* cabiar imagen de fondo */
}
#p3 {
    background-image: url('../images/place3.png'); /* cabiar imagen de fondo */
}
#p4 {
    background-image: url('../images/place4.png'); /* cabiar imagen de fondo */
}
/* Sección day centrar a lo alto y ancho */
.full-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Asegura que el texto dentro esté alineado */
}
#day {
    background-color: #F0EFED;
}
#day .row {
    margin: 3rem 0;
}
#day img {
    width: 36%;
    margin: -1.5rem 0 0 0;
}
.contador {
    background-color: #F0EFED;
    padding: 5rem 2rem;
    text-align: center;
}
#countdown {
    font-size: 2rem;
    margin: 1rem 0;
}
#itinerario {
    height: auto;
}
.itext {
    font-size: 1.3rem;
}
/* Fondo código de vestimenta */
#codigo {
    background-image: url('../images/place5.png'); /* Imagen de fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para que cubra todo el área */
    color: white;
}
.cwidth {
    width: 40%;
}
/* Mesa de regalos */
#mesa {
    background: #F0EFED;
}
#mesa img {
    width: 38%;
    padding: 3rem 0;
}
/* Galeria de fotos */
.gallery img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(1.05);
}
/* Hashtag */
#hashtag {
    background-color: #F0EFED;
    text-align: center;
    padding: 4rem 1rem;
}
footer {
    background-color: #222222;
    color: #999999;
    text-align: center;
    padding: 2rem 0;
}
footer p {
    font-size: 1rem;
}
footer span {
    color: white;
}

@media (max-width: 768px) {
    /* Cambia tamaño de titulos en mobile */
    .titulo {
        font-size: 1.2rem;
    }
    .txt {
        font-size: 1.6rem;
    }
    /* Cambio de textos generales en mobile */
    p {
        font-size: 1.3rem;
    }
    /* Tamaño del logo en inicio de mobile */
    #inicio img {
    width: 80%;
    }
    /* Sección con alto dinamico de mobile */
    section {
        height: auto;
    }
    /* Conservar sección de inicio con alto de toda la pantalla de mobile */
    #inicio {
        height: 100vh;
        background-image: url("../images/background-mobile.png"); /* Imagen de fondo */
    }
    #story {
        padding: 5rem 2rem;
    }
    #day {
        padding: 5rem 1rem;
    }
    #day .row {
        margin: 2rem 0;
    }
    #day img {
        width: 80%;
        margin: -1rem 0 0 0;
    }
    #countdown {
        font-size: 1.4rem;
    }
    #codigo {
        background-position: left;
    }
    .cwidth {
        width: 90%;
        padding: 5rem 1rem;
    }
    #mesa img {
        width: 62%;
    }
    #hashtag img {
        width: 80%;
    }
    #htext {
        margin-bottom: 3rem;
    }
}

/* ------------- Timeline -------------------- */
.timeline-section {
    padding: 5rem 0rem;
    text-align: center;
}

.timeline-section .titulo {
    font-size: 1.2rem;
}

.timeline {
    position: relative;
    margin: 0 auto;
    width: 50%;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background: #DEA1AB;
    transform: translateX(-50%);
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    opacity: 0;
    padding: 0 20px;
}

.timeline-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: background 0.3s, transform 0.3s ease-in-out;
}

.timeline-item.active .circle {
    background: #DEA1AB;
    color: white;
    transform: scale(1.3);
}

.content {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 45%;
    text-align: left;
}

.content h4 {
    font-size: 1.2rem;
    color: #DEA1AB;
}

/* Estilos Responsive */
@media (max-width: 768px) {
    .timeline {
        width: 100%;
        padding-left: 1rem; /* Evita el espacio extra */
        padding-right: 1rem;
    }
    .timeline::before {
        left: 5.5%; /* Asegura que la línea esté alineada */
        transform: none;
    }
    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
        padding-right: 0;
    }
    .circle {
        width: 24px;
        height: 24px;
        left: 2%;
        transform: none;
    }
    .content {
        width: 70%;
        margin-left: 12%;
    }
}